.navigationIcons {
    height: 3rem;
}

.iconRight {
    padding-right: 2rem;
    cursor: pointer;

}

@media only screen and (max-width: 378px) {

    .iconRight{
        padding-right: 1rem;
    }

    

}