.navBarShop, .navBarCollections, .navBarAbout, .navBarGallery {
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 2.4rem;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: auto;
    padding-left: 3.5rem;
}

.navBarShop:hover, .navBarCollections:hover, .navBarAbout:hover, .navBarGallery:hover {
    text-decoration: underline solid black;
    text-underline-offset: 50%;
}

.menuTextLink {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1378px) {
    .navBarShop, .navBarCollections, .navBarAbout, .navBarGallery {
        font-family: 'Cormorant', serif;
        font-weight: 500;
        font-size: 2.4rem;
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: auto;
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 3.5rem;
    }
    li.navBarGallery {
        padding-bottom: 1rem;
        
    }
}

@media only screen and (max-width: 420px) {
    .navBarShop, .navBarCollections, .navBarAbout, .navBarGallery {
        visibility: hidden;
    }
}
